{% extends 'app.html' %}

{% block content %}
    <div class="container mt-5 pt-5">
        <div class="head-discover pt-4 pb-4">
            <form action="" method="get" enctype="multipart/form-data" id="form-filter-genre">
                <div class="row">
                    <div class="col-md-10">
                        <h4>Discover</h4>
                    </div>
                    <div class="col-md-2">
                        <select class="form-select" name="genre" id="genre">
                            <option value="">All Genre</option>
                            {% for g in genre %}
                                {%  if request.args.get('genre') == g %}
                                    <option selected="selected" value="{{ g }}">{{ g }}</option>
                                {% else %}
                                    <option value="{{ g }}">{{ g }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="body-discover">
            {% if discover|length > 0 %}
                <div class="row">
                    {% for d in discover %}
                        <div class="col-md-3">
                            <div class="card mb-4">
                                <img src="{{ d.thumbnail }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div style="min-height: 55px">
                                        <h5 class="card-title">{{ d.title+' | '+d.year }}</h5>
                                    </div>
                                    <div style="min-height: 65px;">
                                        <p class="card-text">{{ d.description[:65]+'...' }}</p>
                                    </div>
                                    <span class="badge bg-warning text-dark">{{ d.genre }}</span>
                                </div>
                                <div class="card-footer bg-white text-end">
                                    <a href="{{ d.url }}" target="_blank" class="btn btn-outline-info">See Detail</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="text-center mt-5 mb-5 p-5">
                    <img class="mb-4" src="{{ url_for('static', filename = 'images/logo.png') }}" alt=""
                         style="width: 125px;">
                    <h4>Opps, Data not available...</h4>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $('#discover-slider').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3
        });

        $('#genre').on('change',function (){
            $('#form-filter-genre').submit()
        })
    </script>
{% endblock %}